@tailwind base;
@tailwind components;
@tailwind utilities;


.img_landing-container {
    position: relative;
    
    img {
      position: absolute;
      animation-name: multiple-image-crossfade;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 16s;
      &:nth-of-type(1) {
        animation-delay: 12s;
      }
      &:nth-of-type(2) {
        animation-delay: 8s;
      }
      &:nth-of-type(3) {
        animation-delay: 4s;
      }
      &:nth-of-type(4) {
        animation-delay: 0;
      }
    }
  }
  
  @keyframes multiple-image-crossfade {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  .slick-dots li.slick-active button:before{
    color: #1F47AF;
  }

  .slick-dots:hover button:before{
    color: #1F47AF;
  }

  button.slick-arrow.slick-prev::before,
  button.slick-arrow.slick-next::before {
    color: #1F47AF;
  }

  .shadow-custom {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  @layer components {
    .reactMarkdown {
      @apply mx-auto mb-20
    }
    .reactMarkdown > p {
      @apply text-sm tracking-wide text-gray-700 mt-2 mb-4;
    }
    .reactMarkdown > h3 {
      @apply text-main_blue font-bold text-2xl mb-3 tracking-wide;
    }
    .reactMarkdown > p > img {
      @apply w-screen my-10
    }
    .reactMarkdown > h2  {
      @apply text-main_blue font-bold text-xl tracking-wide;
    }
  }